.error-modal {
  background-color: white;
  position: fixed;
  left: 25%;
  top: 25%;
  width: 50%;
  z-index: 100;
  padding: 5px;
}

.error-modal h2 {
  margin: 0;
  background: #bb1422;
  color: white;
}
